# Force Linguist to recognize YAML and Ansible files as YAML
*.yml linguist-language=YAML
*.yaml linguist-language=YAML
# If you have Ansible-specific directories, you can add:
ansible/** linguist-language=YAML
# Uncomment below if you want to force detection for all YAML in subfolders
# **/*.yml linguist-language=YAML
# **/*.yaml linguist-language=YAML
